h1, h2{
  font-family: "Oswald", sans-serif;
}

img{
  float: left;
  margin-right: 100px;
}

.left{
  float: left;
  width: 300px;
  padding: 1cm;
}

.right{
  float: right;
  width: 300px;
  padding: 1cm;
}

.center{
  margin-left: 300px;
  margin-right: 300px;
  padding: 1cm;
}



.container {
  display: grid;
  grid-template-columns: auto auto auto auto auto;
  padding: 10px;
}
.container-item {
  font-family: Lato,'Helvetica Neue',Arial,Helvetica,sans-serif;
  color: #4183c4;
  padding: 20px;
  font-size: 30px;
  text-align: center;
}

.ui.active.dimmer.modals.transition {
  display: flex !important;
  display: -ms-flexbox !important;
  position: fixed;
}
